.family-node {
  margin: 10px;
  cursor: pointer;
}

.person-card {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #fff;
}

.children {
  margin-left: 30px;
  border-left: 2px solid gray;
  padding-left: 10px;
}
